<!DOCTYPE html>
<html>
<head>
	<title>Devon Website</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>{{title}}</h1>
<a href="/">Home</a>
<a href="/prices">Prices</a>
<div id="hello"></div>
<script type="text/javascript" src="scripts.js"></script>
{{{body}}}
</body>
</html>