<!DOCTYPE html>
<html>
<head>
	<title>Devon Website</title>
</head>
<body>
<h1>{{heading}}</h1>
<a href="/">Home</a>
<a href="/prices">Prices</a>
<h1>Here's how expensive everything is!!</h1>
<p>£100000000</p>
</body>
</html>